<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.krupet.quotes.bfpp.DeprecationHandlerBeanFactoryPostProcessor"/>
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <bean class="com.krupet.quotes.listener.PostProxyInvokerContextListener"/>
    <bean class="com.krupet.quotes.bpp.ProfilingAnnotationBeanPostProcessor"/>
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>
    <bean class="com.krupet.quotes.bpp.InjectRandomIntBeanPostProcessor" />

    <bean class="com.krupet.quotes.impl.TerminatorQuoter" id="terminatorQuoter">
        <property name="message" value="I'll be back."/>
    </bean>
</beans>